@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

.font-space {
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;
}