---
import "../styles/global.css";
import logo from "../assets/imgs/logo.webp";
import Navbar from "../components/navbar/Navbar.astro";
import Hero from "../components/hero/Hero.astro";
import Servicios from "../components/servicios/Servicios.astro";
import Nosotros from "../components/nosotros/Nosotros.astro";
import Trabajo from "../components/trabajo/Trabajo.astro";
import Exito from "../components/exito/Exito.astro";
import Influencers from "../components/influencers/Influencers.astro";
import Contacto from "../components/contacto/Contacto.astro";
import Footer from "../components/footer/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href={logo.src} />
		<title>Createwise Agency</title>
	</head>
	<body>
		<Navbar />
		<Hero />
		<Servicios />
		<Nosotros />
		<Trabajo />
		<Exito />
		<Influencers />
		<Contacto />
		<Footer />
		<slot />
	</body>
</html>
